@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap);
@charset "UTF-8";
@font-face {
  font-family: CircularStd;
  src: local("CircularStd-Book"), local("CircularStd"), url(/fonts/CircularStd-Book.ed76eb21.woff?b9b1abe339ba6639afffbad2d818f23d) format("woff");
  font-style: normal;
  font-weight: 350;
}
@font-face {
  font-family: CircularStd;
  src: local("CircularStd-Medium"), local("CircularStd"), url(/fonts/CircularStd-Medium.bb9a359a.woff?e39d4081b339f42a2a55913a22dcfd15) format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: CircularStd;
  src: local("CircularStd-Bold"), local("CircularStd"), url(/fonts/CircularStd-Bold.1ced22ee.woff?4bae1919c290b401036664748d04e1d9) format("woff");
  font-style: normal;
  font-weight: 700;
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-webkit-keyframes left {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes left {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes top {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes top {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/*
 Margin and rounding are personal preferences,
 overflow-x-auto is recommended.
*/
pre {
  border-radius: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
}

/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
pre code.torchlight {
  display: block;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*
 Horizontal line padding to match the vertical
 padding from the code block above.
*/
pre code.torchlight .line {
  padding-left: 1rem;
  padding-right: 1rem;
}
pre code.torchlight .line span {
  margin-right: 10px;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
  margin-right: 1rem;
}

span.line-number {
  margin-right: 10px;
}

.modal {
  height: 100vh;
  display: grid;
  place-items: center;
}
.modal__button {
  display: inline-block;
  background-color: var(--first-color);
  color: #FFF;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.modal__button:hover {
  background-color: var(--first-color-alt);
}
.modal__container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsla(var(--hue), 18%, 75%, 0.8);
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  transition: all 0.3s;
  z-index: var(--z-modal);
  visibility: hidden;
  opacity: 0;
  /* === Effect 3 === */
  /* perspective: 1000px; */
}
.modal__content {
  position: relative;
  background-color: var(--container-color);
  text-align: center;
  padding: 3rem 2rem 2rem;
  border-radius: 1rem 1rem 0 0;
  transition: all 0.3s;
  /* === Effect 1 === */
  transform: translateY(10%);
  /* === Effect 2 === */
  /* transform: scale(.5) translateY(10%); */
  /* === Effect 3 === */
  /* transform-origin: 50% 100%; */
  /* transform: rotateX(65deg) scale(.75) translateY(10%); */
}
.modal__img {
  width: 150px;
  margin-bottom: 0.75rem;
}
.modal__close {
  display: inline-flex;
  background-color: var(--first-color);
  border-radius: 0.25rem;
  color: #FFF;
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
.modal__title {
  font-size: var(--big-font-size);
  color: var(--title-color);
  font-weight: 500;
}
.modal__description {
  margin-bottom: 1.5rem;
}
.modal__button-width {
  width: 90%;
}
.modal__button-link {
  display: block;
  margin: 1rem auto 0;
  background-color: transparent;
  color: var(--first-color);
  font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --delay: 0s;
}

:focus {
  outline: none;
}

:target {
  scroll-margin-top: 5rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: CircularStd;
  font-size: 1.8rem;
  font-weight: 350;
  overflow-x: hidden;
  position: relative;
}

.btn {
  display: block;
  text-align: center;
  margin: 4rem auto;
  background: rgb(2, 123, 251);
  padding: 10px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
}
.btn.btn-danger {
  background: rgb(251, 2, 2);
}

b {
  color: rgb(2, 123, 251);
  position: relative;
}
b:before {
  content: " ";
  position: absolute;
  top: 0;
  left: -5%;
  width: 0;
  border-radius: 5px;
  height: 100%;
  background: rgba(2, 123, 251, 0.15);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
b:hover:before {
  opacity: 1;
  width: 110%;
}

#barre {
  height: 10px;
  width: 0;
  border-radius: 0 50px 50px 0;
  position: fixed;
  top: 0;
  left: 34.4rem;
  background: linear-gradient(to right, rgb(2, 123, 251), rgb(2, 123, 251));
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 10;
}

#particles {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.btn-languages {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  margin-top: 3rem;
  background: white;
  border-radius: 0.5rem;
  width: inherit;
  justify-content: center;
}

.loader-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.loader-wrapper .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}
.loader-wrapper .loader .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

ul {
  list-style-type: none;
}

h1 {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
}

h2 {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
}

h3 {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
}

h4 {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
}

h5 {
  font-weight: inherit;
  line-height: inherit;
  font-size: inherit;
}

small {
  font-size: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

video {
  height: auto;
  max-width: 100%;
}

code {
  font-family: Roboto Mono, Monaco, courier, monospace;
  font-size: 1.4rem;
  font-weight: 400;
  color: #525252;
  background-color: #fafafa;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
  padding: 1.6rem;
  border-radius: 0.8rem;
  display: block;
}

pre {
  font-family: Roboto Mono, Monaco, courier, monospace;
  font-size: 1.4rem;
  font-weight: 400;
  color: #525252;
  background-color: #fafafa;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
  padding: 1.6rem;
  border-radius: 0.8rem;
  display: block;
}
pre code .hljs-keyword {
  color: #d63200;
}
pre code .hljs-string {
  color: #42b983;
}
pre code .hljs-literal {
  color: #a32eff;
}

p {
  line-height: 2.88rem;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
  border-radius: 1.6rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #e9e9e9;
}

.page-title {
  font-size: 6.4rem;
  font-weight: 700;
  margin-bottom: 4.8rem;
}

.section-title {
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.section-title:before {
  content: "#";
  color: rgb(2, 123, 251);
  margin-right: 0.8rem;
  font-weight: 350;
}

.sub-title {
  font-size: 2.2rem;
  margin-bottom: 0.8rem;
}
.sub-title:before {
  content: "•";
  color: rgb(2, 123, 251);
  margin-right: 0.8rem;
  font-weight: 350;
}

.sub {
  margin-bottom: 4.8rem;
}

.separator {
  display: block;
  height: 0.3rem;
  background-color: #fafafa;
  margin: 6.4rem 0;
}

.text {
  color: #404040;
  margin-bottom: 2.4rem;
}

.text-link {
  color: rgb(2, 123, 251);
  text-decoration: underline;
}

.list {
  color: #404040;
  margin-bottom: 2.4rem;
}
.list li {
  line-height: 1.618;
}
.list li:before {
  content: "•";
  color: rgb(2, 123, 251);
  margin-right: 0.8rem;
  font-weight: 350;
}

.code-snippet {
  margin-bottom: 2.4rem;
}

.info-box {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  border-left: 0.8rem solid rgb(2, 123, 251);
  padding: 2.4rem 4.8rem;
  background-color: #fafafa;
}
.info-box-text {
  color: #617171;
  padding-left: 3.2rem;
}

.warning-box {
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  border-left: 0.8rem solid #ff4642;
  padding: 2.4rem 4.8rem;
  background-color: #fafafa;
  margin-bottom: 2.4rem;
}
.warning-box-text {
  color: #617171;
  padding-left: 3.2rem;
}

.next {
  padding: 3.2rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.3rem solid #fafafa;
  flex: 0 0 calc(50% - 1.6rem);
  flex-direction: row-reverse;
}
.next img {
  transform: rotate(180deg);
}

.prev {
  padding: 3.2rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.3rem solid #fafafa;
  flex: 0 0 calc(50% - 1.6rem);
}

.next__meta span {
  display: block;
  color: #617171;
}
.next__meta p {
  color: #404040;
}

.prev__meta span {
  display: block;
  color: #617171;
}
.prev__meta p {
  color: #404040;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 6.4rem;
}

.menu {
  background-color: #fafafa;
  position: fixed;
  top: 0;
  left: 0;
  width: 34.4rem;
  height: 100vh;
  padding: 0 3.2rem;
  overflow-y: scroll;
  -webkit-animation: left 1s var(--delay) both;
          animation: left 1s var(--delay) both;
}
.menu__logo {
  padding: 3.2rem 0 0 3.2rem;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
}
.menu__logo .color {
  color: rgb(2, 123, 251);
  font-style: italic;
}
.menu__nav {
  margin: 12rem 0;
}
.menu__submenu ul li {
  margin: 15px 0 15px 40px;
}
.menu__submenu ul li:hover a {
  background-color: #dbecff;
}
.menu__submenu ul li a {
  background-color: rgb(233, 233, 233);
  padding: 1.3rem 3.2rem 1.3rem 3rem;
  transition: all 0.5s ease;
}
.menu__item {
  padding: 1.6rem 3.2rem;
  border-radius: 0.8rem;
  display: block;
  transition: padding 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.menu__item:hover {
  background-color: #f5f5f5;
}
.menu__item.active {
  color: rgb(2, 123, 251);
  background-color: #fff;
  padding: 1.6rem 3.2rem 1.6rem 4rem;
}
.menu__item.active:hover {
  background-color: #fff;
}

.menu__item #app {
  position: relative;
}

.site-content {
  max-width: 100rem;
  margin: 0 auto;
  padding: 16rem 0 16rem 20rem;
  -webkit-animation: top 1s var(--delay) both;
          animation: top 1s var(--delay) both;
}
